<conventions>
	<annotation name="net.sf.esfinge.metadata.locate.conventions.ForTestingFileConventions" allConventionsNeedToApply="true">
		<convention verifier="net.sf.esfinge.metadata.locate.conventions.MethodReturnTypeConventionVerifier">
			<parameter name="returnType" value="java.util.ArrayList" />
		</convention>
	</annotation>
</conventions>