<conventions>
	<annotation name="net.sf.esfinge.metadata.locate.conventions.ForTesting" allConventionsNeedToApply="true">
		<convention verifier="net.sf.esfinge.metadata.locate.conventions.PrefixConventionVerifier">
			<parameter name="PrefixConvention" value="prefix" />
		</convention>
		<convention verifier="net.sf.esfinge.metadata.locate.conventions.PrefixConventionVerifier">
			<parameter name="PrefixConvention" value="prefix" />
		</convention>
	</annotation>
	<annotation name="net.sf.esfinge.metadata.locate.conventions.ForTesting" allConventionsNeedToApply="true">
		<convention verifier="net.sf.esfinge.metadata.locate.conventions.PrefixConventionVerifier">
			<parameter name="PrefixConvention" value="prefix" />
		</convention>
	</annotation>
	<annotation name="net.sf.esfinge.metadata.locate.conventions.ForTesting" allConventionsNeedToApply="true">
		<convention verifier="net.sf.esfinge.metadata.locate.conventions.PrefixConventionVerifier">
			<parameter name="PrefixConvention" value="prefix" />
		</convention>
	</annotation>
</conventions>